<style>
  .content-item#db_{$ item.id $} {
    margin: 1em 0em;
    padding: 0.5em 1.5em;
    background-color: #D5DAF9;
    box-shadow: {$ item.id * 2 + 1 $}px {$ item.id * 2 + 1 $}px 2px #555555;
  }
</style>
<div id="db_{$ item.id $}" class="content-item">
<!--{$ x = 3 $}-->
<h1>This should be 3: {$ x $}</h1>
  <h3>{$ item.data.title $}</h3>
  <video width="{$ item.data.video.width $}" height="{$ item.data.video.height $}" {$ if (item.data.video.controls) "controls" $} >
    <source src="{$ item.data.video.source $}" type="video/mp4">
  </video>
</div>
